
.TodoList {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
}

.TodoList header {
  grid-column: 2;

  padding: 1em;
}

.TodoList main {
  grid-column: 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.TodoList .Todos_state_done {
  width: 100%;
  height: 50vh;
}
