
.TodoList {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}

.TodoList header {
  grid-column: 2;

  padding: 1em 0;
}

.TodoList main {
  grid-column: 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.TodoList .Todos_state_done {
  width: 100%;
}
